/*
Common styles for Amergin.

Apply before modification by javascript libraries.
*/


/*** RESET */
* {
  margin: 0;
  padding: 0;
}


/*** GENERAL BODY */
body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', Arial, Verdana,
		sans-serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: font-family: Georgia, Times, 'Times New Roman', sans-serif;
	color: #066;
}

.body_title {
	font-size: 150%;	
}

.description {
	color: #888;
	font-style: italic;
}

.note {
	
}

.warning {
	
}

.error {
	
}

#north {
/*	background: transparent url('/media/relais.amergin/img/home.png')
 	no-repeat right center; */
}

.header_app_icon {
	float: right;
	position: absolute !important;
	right: 5 !important; 
	top: 0 !important; 
}


/*** WELCOME PAGE */
#controller_list, #tool_list, #settings {
	margin: 5px;
	color: red;
}


/*** FORMS */


label {
/*	color: #066; */
}

.tool_form {
	padding: 5px !important;
}

.uniform fieldset {
	border: 1px solid #bbb !important;
}

legend {
	margin-left: 5px  !important;
}

/*** RECORDS & BROWSING */
#record_table {
	border: 1px solid #bbb;
	border-collapse: collapse;
}

#record_table td, #record_table th {
	border:1px solid #ccc;
	border-collapse: collapse;
	padding:5px;
}
		  
/*** SOUTH-FOOTER ELEMENTS */
.footer {
	text-align: center;
	color: #888;
	font-style: italic;
	border: 1px dotted #888;
	padding: 2 10 2 10;
}

.bottombox {
	margin: 10 10 10 10;
	text-align: center;
}

