{% extends "relais.amergin/base.html" %}

{% load uni_form_tags %}

{% block header_title %}Amergin: Repository tools{% endblock %}

{% block header_script_viewleft %}{% endblock %}

{% block header_script_viewcenter %}
	{
		region: 'center',
		contentEl: 'center',
		split: true,
		autoScroll: true,
		margins: '0 10 0 10'
	},

{% endblock %}
	
{% block header_script_viewright %}{% endblock %}

{% block header_extra %}
	<link rel="stylesheet" href="/media/uni_form/uni-form-generic.css" type="text/css" />
	<link rel="stylesheet" href="/media/uni_form/uni-form.css" type="text/css" />
	<script src="/media/uni_form/uni-form.jquery.js" type="text/javascript"></script>
{% endblock %}

{% block body_title %}{{ title }} tool{% endblock %}
{% block body_description %}{{ description }}{% endblock %}

{% block body_center %}

	{% if messages %}
		{% for msg in messages %}
			<div class="{{ msg.css_class }}">{{ msg.txt }}</div>
		{% endfor %}
	{% endif %}
	
	{% uni_form form helper %}
	
	{% if results %}
		<div class="results">
			<h2>Results</h2>
		</div>
		{% for res in results %}
		
		{% endfor %}
	{% endif %}

{% endblock %}



