{% load resourceurls %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="robots" content="NONE,NOARCHIVE" />
	 
	<title>{% block header_title %}HEAD TITLE{% endblock %}</title>
	
	<style type="text/css">
        @import "/media/relais.amergin/dojo/dijit/themes/tundra/tundra.css";
        @import "/media/relais.amergin/dojo/dojo/resources/dojo.css"
    </style>
    <script type="text/javascript" src="/media/relais.amergin/dojo/dojo/dojo.js" 
      djConfig="parseOnLoad: true"></script>

<script type="text/javascript">
    dojo.require("dijit.layout.BorderContainer");
    dojo.require("dijit.layout.ContentPane");
</script>
<style type="text/css">
    html, body { width: 100%; height: 100%; margin: 0; }
</style>

	{% block header_extra %}{% endblock %}

</head>

<body class="tundra">



{% block mainbody %}

<div dojoType="dijit.layout.BorderContainer" style="width: 100%; height: 100%">
	
    <div dojoType="dijit.layout.ContentPane" region="top">
        <H1>{% block title %}PAGE TITLE{% endblock %}</H1>
    </div>
	 
    <div dojoType="dijit.layout.ContentPane" region="leading">
        Leading pane
    </div>
	 
    <div dojoType="dijit.layout.ContentPane" region="center">
      <P class="description">
		{% block description %}DESCRIPTION{% endblock %}
		</P>
		
		<DIV id="body_content" class="center">
		{% block content %}PAGE BODY{% endblock %}
		</DIV>
		
    </div>
	 
    <div dojoType="dijit.layout.ContentPane" region="trailing">
        Trailing pane
    </div>
	 
    <div dojoType="dijit.layout.ContentPane" region="bottom">
      {% block footer %}
		This is an Amergin 0.3 installation, based upon the
		Django web developmenta stack (v1.1) and the Relais epi-informatics
		suite (v0.5.6). Direct any problems to the system administrator
		<A HREF="mailto:btv@iah.bbsrc.ac.uk">btv@iah.bbsrc.ac.uk</A>.
		{% endblock %}	
    </div>


</DIV>

{% endblock %}

</body>
</html>