{% extends "relais.amergin/base.html" %}

{% load uni_form_tags %}

{% block header_title %}Amergin: Repository tools{% endblock %}

{% block header_script_viewleft %}{% endblock %}

{% block header_script_viewcenter %}
	new Ext.BoxComponent({
		region: 'center',
		el: 'center',
		// set as natural height
		margins: '0 10 0 10',
		autoScroll: true
	}),
{% endblock %}
	
{% block header_script_viewright %}{% endblock %}

{% block header_extra %}
	<link rel="stylesheet" href="/media/uni_form/uni-form-generic.css" type="text/css" />
	<link rel="stylesheet" href="/media/uni_form/uni-form.css" type="text/css" />
	<script src="/media/uni_form/uni-form.jquery.js" type="text/javascript"></script>
{% endblock %}

{% block body_title %}{{ title }} tool{% endblock %}
{% block body_description %}{{ description }}{% endblock %}

{% block body_center %}

	{% uni_form form helper %}
	
{% endblock %}



