{% load resourceurls %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="robots" content="NONE,NOARCHIVE" />
	 
	<title>{% block header_title %}HEAD TITLE{% endblock %}</title>
	
	{% block header_incl %}
		<style type="text/css">
			@import "/media/relais.amergin/extjs/resources/css/ext-all.css";
		</style>
		<script type="text/javascript"
		 src="/media/relais.amergin/extjs/adapter/ext/ext-base.js"></script>
		<script type="text/javascript"
		 src="/media/relais.amergin/extjs/ext-all.js"></script>
	{% endblock %}

	{% block header_script %}
	{% endblock %}

	{% block header_extra %}
	{% endblock %}

</head class="{% block body_class %}base{% endblock %}">

<body>

{% block body_content %}
	
	<div id="north">
		{% block body_north %}
			<H1>{% block body_title %}PAGE TITLE{% endblock %}</H1>
			<P class="description">
				{% block description %}DESCRIPTION{% endblock %}
			</P>
		{% endblock %}
	</div>
	
	{% block body_main %}
		<div id="left">
			{% block body_left %}
				left pane
			{% endblock %}
		</div>
		 
		<div id="center">
			{% block body_center %}
				center pane
			{% endblock %}
		</div>
		 
		<div id="right">
			{% block body_right %}
				right pane
			{% endblock %}
		</div>
	{% endblock %}
		
	<div id="south">
		{% block body_south %}
			This is an Amergin 0.3 installation, based upon the Django web
			developmenta stack (v1.1) and the Relais epi-informatics
			suite (v0.5.6). Direct any problems to the system administrator
			<A HREF="mailto:btv@iah.bbsrc.ac.uk">btv@iah.bbsrc.ac.uk</A>.
		{% endblock %}
	</div>

{% endblock %}

</body>
</html>