{% extends "relais.amergin/base.html" %}
{% load adminurl %}

{% block bodyclass %}{{ controller.identifier }}-show{% endblock %}

{% block backto %}<a href=".">Back to index</a>{% endblock %}

{% block description %}
	{% if obj.description %}
		<p class="description">{{ obj.description }}</p>
	{% endif %}
{% endblock %}
			
{% block mainbody %}
		{% if obj %}
			{% block primaryfields %}
				<p class="field"><b>Identifier:</b> {{ obj.identifier }}</p>
				<p class="field"><b>Title:</b> {{ obj.title }}</p>
				<p class="field"><b>Source:</b> {{ obj.source }}</p>
			{% endblock %}
			
			{% block secondaryfields %}{% endblock %}
			
			{% if user.is_staff %}
				<div class="buttons">
					<p>
						<a href="{{ obj|admin_edit_url }}"
							class="button-link">Edit this {{ controller.name }}</a>
						<a href="{{ obj|admin_delete_url }}"
							class="button-link">Delete this {{ controller.name }}</a>
					</p>	
				</div>
			{% endif %}
			
		{% endif %}
{% endblock %}

