{% extends "relais.amergin/base.html" %}
{% load resourceurls %}

{% block header_title %}Welcome to Amergin{% endblock %}

	{% block header_script_viewleft %}
	{% endblock %}

	{% block header_script_viewcenter %}
		{
			region:'center',
			margins:'30 15 30 15',
			layout:'column',
			autoScroll:true,
			items:[
				{
					columnWidth:.33,
					baseCls:'x-plain',
					bodyStyle:'padding: 5px 0 5px 5px',
					items:[{
						contentEl: "controller_list"
					}]
				},
				{
					columnWidth:.33, 
					baseCls:'x-plain',
					bodyStyle:'padding: 5px 0 5px 5px',
					items:[{
						contentEl: "tool_list"
					}]
				},
				{
					columnWidth:.33,
					baseCls:'x-plain',
					bodyStyle:'padding: 5px 0 5px 5px',
					items:[{
						contentEl:  "settings"
					}]
				}
			]
		},
	{% endblock %}

	{% block header_script_viewright %}
	{% endblock %}
	
{% block body_class %}welcome{% endblock %}

{% block body_title %}Amergin: a curation interface for Relais{% endblock %}
{% block body_description %}Choose from the below options.{% endblock %}

{% block body_center %}
<div id="controller_list">
	{% include "relais.amergin/controller_list.html" %}
</div>

<div id="tool_list">
	{% include "relais.amergin/tool_list.html" %}
</div>

<div id="settings">
	{% include "relais.amergin/settings_list.html" %}
</div>

{% endblock %}

{% block body_south %}
	<div class="bottombox">Tracking {{ isolate_cnt }} isolates, {{ bioseq_cnt }}
	biosequences and {{ bioseqcollection_cnt }} biosequence collections.</div>

	{% include "relais.amergin/footer.html" %}
{% endblock %}