{% extends "relais.amergin/base.html" %}
{% load resourceurls %}

{% block header_title %}Welcome to Amergin{% endblock %}

{% block header_script %}
	<script type="text/javascript">
		Ext.onReady(function ()
		{
			var viewport = new Ext.Viewport ({
				layout: 'border',
				items: [
					// create top panel instance immediately from page element
					new Ext.BoxComponent({
						region: 'north',
						el: 'north',
						// set as natural height
						//height: 32,
						margins: '2 5 2 5'
					}),
				
					{
						// lazily created panel (xtype:'panel' is default)
						region: 'south',
						contentEl: 'south',
						// what does this do?
						split: true,
						height: 100,
						minSize: 100,
						maxSize: 200,
						collapsible: true,
						title: 'Status',
						margins: '2 5 2 5'
					},
		
					{
						region: 'west',
						id: 'west-panel',
						// see Ext.getCmp() below
						title: 'West',
						split: true,
						width: 200,
						minSize: 175,
						maxSize: 400,
						collapsible: true,
						margins: '0 0 0 5',
						layout: {
							type: 'accordion',
							animate: true
						},
						items: [
						{
							contentEl: 'left',
							title: 'Navigation',
							border: false,
							iconCls: 'nav' // see the HEAD section for style used
						},
						{
							title: 'Settings',
							html: '<p>Some settings in here.</p>',
							border: false,
							iconCls: 'settings'
						}]
					},
					
					// in this instance the TabPanel is not wrapped by another panel
					// since no title is needed, this Panel is added directly
					// as a Container
					new Ext.BoxComponent({
						region: 'center',
						el: 'center1',
						// set as natural height
						//height: 32,
						margins: '2 5 2 5',
						autoScroll: true
					}),
					
					{
						region: 'east',
						title: 'East Side',
						collapsible: true,
						split: true,
						width: 225, // give east and west regions a width
						minSize: 175,
						maxSize: 400,
						margins: '0 5 0 0',
						layout: 'fit', // specify layout manager for items
						items:
						new Ext.TabPanel({
							border: false, // already wrapped so don't add another border
							activeTab: 1, // second tab initially active
							tabPosition: 'bottom',
							items: [
								{
									html: '<p>A TabPanel component can be a region.</p>',
									title: 'A Tab',
									autoScroll: true
								},
								new Ext.grid.PropertyGrid({
									title: 'Property Grid',
									closable: true,
									source: {
										"(name)": "Properties Grid",
										"grouping": false,
										"autoFitColumns": true,
										"productionQuality": false,
										"created": new Date(Date.parse('10/15/2006')),
										"tested": false,
										"version": 0.01,
										"borderWidth": 1
									}
								})
							]
						})
					}
				
				]
			});
	
		});
	</script>
{% endblock %}

{% block body_class %}welcome{% endblock %}

{% block body_content %}

	<div id="north">
		{% block body_north %}
			<H1>{% block body_title %}PAGE TITLE{% endblock %}</H1>
			<P class="description">
				{% block description %}DESCRIPTION{% endblock %}
			</P>
		{% endblock %}
	</div>
		
	<div id="left" class="x-hide-display"> 
        <p>Hi. I'm the west panel.</p> 
   </div>
	
	 
    <div id="center1"> 
        <p><b>Done reading me? Close me by clicking the X in the top right corner.</b></p> 
        <p>Vestibulum semper. Nullam non odio. Aliquam quam. Mauris eu lectus non nunc auctor ullamcorper. Sed tincidunt molestie enim. Phasellus lobortis justo sit amet quam. Duis nulla erat, varius a, cursus in, tempor sollicitudin, mauris. Aliquam mi velit, consectetuer mattis, consequat tristique, pulvinar ac, nisl. Aliquam mattis vehicula elit. Proin quis leo sed tellus scelerisque molestie. Quisque luctus. Integer mattis. Donec id augue sed leo aliquam egestas. Quisque in sem. Donec dictum enim in dolor. Praesent non erat. Nulla ultrices vestibulum quam.</p> 
        <p>Duis hendrerit, est vel lobortis sagittis, tortor erat scelerisque tortor, sed pellentesque sem enim id metus. Maecenas at pede. Nulla velit libero, dictum at, mattis quis, sagittis vel, ante. Phasellus faucibus rutrum dui. Cras mauris elit, bibendum at, feugiat non, porta id, neque. Nulla et felis nec odio mollis vehicula. Donec elementum tincidunt mauris. Duis vel dui. Fusce iaculis enim ac nulla. In risus.</p> 
        <p>Donec gravida. Donec et enim. Morbi sollicitudin, lacus a facilisis pulvinar, odio turpis dapibus elit, in tincidunt turpis felis nec libero. Nam vestibulum tempus ipsum. In hac habitasse platea dictumst. Nulla facilisi. Donec semper ligula. Donec commodo tortor in quam. Etiam massa. Ut tempus ligula eget tellus. Curabitur id velit ut velit varius commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Fusce ornare pellentesque libero. Nunc rhoncus. Suspendisse potenti. Ut consequat, leo eu accumsan vehicula, justo sem lobortis elit, ac sollicitudin ipsum neque nec ante.</p> 
        <p>Aliquam elementum mauris id sem. Vivamus varius, est ut nonummy consectetuer, nulla quam bibendum velit, ac gravida nisi felis sit amet urna. Aliquam nec risus. Maecenas lacinia purus ut velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sit amet dui vitae lacus fermentum sodales. Donec varius dapibus nisl. Praesent at velit id risus convallis bibendum. Aliquam felis nibh, rutrum nec, blandit non, mattis sit amet, magna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam varius dignissim nibh. Quisque id orci ac ante hendrerit molestie. Aliquam malesuada enim non neque.</p> 
    </div>
	 
    <div id="props-panel" class="x-hide-display" style="width:200px;height:200px;overflow:hidden;"> 
    </div>
	 
	<div id="south">
		{% block body_south %}
			This is an Amergin 0.3 installation, based upon the Django web
			developmenta stack (v1.1) and the Relais epi-informatics
			suite (v0.5.6). Direct any problems to the system administrator
			<A HREF="mailto:btv@iah.bbsrc.ac.uk">btv@iah.bbsrc.ac.uk</A>.
		{% endblock %}
	</div>

{% endblock %}
	


